CREATE DATABASE [MarketDB]
 CONTAINMENT = NONE
GO

USE [MarketDB]
GO

CREATE LOGIN [admin] WITH PASSWORD = 'admin', CHECK_POLICY = OFF;
GO

ALTER SERVER ROLE [sysadmin] ADD MEMBER [admin];
GO


/****** Object:  Table [dbo].[Products]    Script Date: 13/07/2023 20:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[TypeID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[amount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 13/07/2023 20:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[TaxPercentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 13/07/2023 20:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[ItemTotalValue] [decimal](10, 2) NULL,
	[ItemTaxValue] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProductTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
USE [master]
GO
USE [MarketDB]
GO
-- Inserts para a tabela ProductTypes
INSERT INTO [dbo].[ProductTypes] ([Name], [TaxPercentage]) VALUES ('Technology', 5.0)
INSERT INTO [dbo].[ProductTypes] ([Name], [TaxPercentage]) VALUES ('Clothing', 10.0)
INSERT INTO [dbo].[ProductTypes] ([Name], [TaxPercentage]) VALUES ('Sport', 8.5)
GO
-- Inserts para a tabela Products
INSERT INTO [dbo].[Products] ([Name], [TypeID], [Price], [amount]) VALUES ('Product 1', 1, 10.50, 100)
INSERT INTO [dbo].[Products] ([Name], [TypeID], [Price], [amount]) VALUES ('Product 2', 1, 15.75, 50)
INSERT INTO [dbo].[Products] ([Name], [TypeID], [Price], [amount]) VALUES ('Product 3', 2, 25.00, 200)
GO
-- Inserts para a tabela Sales
INSERT INTO [dbo].[Sales] ([ProductID], [Quantity], [ItemTotalValue], [ItemTaxValue]) VALUES (1, 2, 21.00, 1.05)
INSERT INTO [dbo].[Sales] ([ProductID], [Quantity], [ItemTotalValue], [ItemTaxValue]) VALUES (3, 1, 25.00, 2.13)
INSERT INTO [dbo].[Sales] ([ProductID], [Quantity], [ItemTotalValue], [ItemTaxValue]) VALUES (2, 3, 47.25, 4.73)
GO
